<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static/index.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Grishanya</title>
    <meta name="description" content="Grishanya,Grisha, Grigoriy, all about">
    <meta name="keywords" content="Grishanya,Grisha, Grigoriy, all about">
</head>
<body>

<h1>
    Hello! My name is Grishanya, I live on this web-site. Click on button to feed me.
</h1>
<br>
<img border=15 height=auto weight=auto vspace=0 src="static/grishanya.jpg" alt=HandsomBOB>
<h2>
    My photo
</h2>
<br>
<br>
<input type="button" id="btn" value="Press me">
    <script src="static/index.js"></script>
<br>
<output id="rezultat"> </output>
</html>